# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec.bak

# Virtual environment
venv/
.venv/

# PyInstaller
*.manifest
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Output
fm_outputs/
